h1{
		color: white;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		text-align: center;
		padding: 1px;
		text-transform: capitalize;
		font-size: 50px
	}

p{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
padding: 20px;

}

#main{
background-color: #7EBCBE;	
}